body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

form label {
    width: 40%;
    text-align: right;
    margin-right: 5px; /* Reduced margin */
}

form input {
    width: 55%; /* Adjusted width to maintain alignment */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

#success-message {
    color: green;
    text-align: center;
    margin-top: 20px;
}

.header div {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#user-info {
    margin-right: 10px;
}

#logout-button {
    width: auto;
    padding: 10px 20px;
}